apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
type: Opaque
stringData:
  username: "postgres"
  password: "postgres"
---
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-credentials
type: Opaque
stringData:
  uri: "amqps://vprxgqib:KJ1fbtUgG2xkbRLXTL0GxxhjfSW5k4uB@chameleon.lmq.cloudamqp.com/vprxgqib"
