apiVersion: v1
kind: Secret
metadata:
  name: mongodb
type: Opaque
stringData:
  uri: "mongodb+srv://db_user:q_f2frQest7UXz2@cluster0.ylphbdg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"